.playerCard {
    position: fixed;
    height: 20%;
    width: 20%;
    display: none;
}

#playerHand {
    position: fixed;
    left: 30px;
    bottom: 0px;
    top: auto;
    right:auto
}

#hitButton {
    position: fixed;
}

#passButton {
    position: fixed;
}

@keyframes slideIn {
    from {
        display: block;
        left: 0;
        top: 0;
    }

    to {
        left: 100;
        bottom: 0;
        position: relative;
    }
}